<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="fuyoujiankang_selenium">
	<!-- chrome,firefox,ghost和ie不区分大小写 -->
	<parameter name="browserName" value="chrome" />
	<!-- driver的属性配置文件保存路径 -->
	<parameter name="driverConfgFilePath" value="config/driver.properties" />

    <!-- uat -->
	<!-- uat医院后台-登录-->
	<parameter name="uat_hospitalLoginUrl" value="http://192.168.16.217:9999" />
	<!-- uat医院后台-服务套餐管理 -->
	<parameter name="uat_serviceManagerUrl" value="http://192.168.16.217:9999/#/health_collection/service_plan_manage?_k=6pvc68" />
	<!-- uat医院后台-知识管理 -->
	<parameter name="uat_knowledgeManagerUrl" value="http://192.168.16.217:9999/#/knowledge_library_manage/knowledge_manage?_k=2adkoh" />

    <!-- pre -->
	<!-- pre医院后台-登录-->
	<parameter name="pre_hospitalLoginUrl" value="http://pre.hws.fuyoujiankang.com" />
	<!-- uat医院后台-服务套餐管理 -->
	<parameter name="pre_serviceManagerUrl" value="http://pre.hws.fuyoujiankang.com/#/health_collection/service_plan_manage?_k=7a5u0s" />
	
	<!-- 进程等待1秒中的控制时间 -->
	<parameter name="sleepTime" value="800" />
	<!-- 页面元素30秒不出现超时时间 -->
	<parameter name="timeOut" value="30" />
	<!-- 等待alert弹出的时间 单位毫秒 -->
	<parameter name="waitMillisecondsForAlert" value="40000" />

	<!-- 定义测试模块，用test标签包围 ;preserve-order="true"按照顺序来执行 -->
	<test name="fuyoujiankang" preserve-order="true">
		<classes>
			<!--<class name="com.fuyoujiankang.test.testcases.serviceManagement.ComboPage_002_AddSuccessFunction_Test"/>-->
			<!--<class name="com.fuyoujiankang.test.testcases.knowledgeManagement.KnowledgeManagementPage_001_AddSuccessFunction_Test"/>-->
			<class name="com.fuyoujiankang.test.testcases.serviceManagement.ServiceManagementPage_001_AddSuccessFunction_Test"/>
		</classes>
<!-- 		<packages> -->
<!--			<package name="com.flyertrip.test.testcases.book" />   --> 
<!-- 			<package name="com.flyertrip.test.testcases.traveler" />  -->
<!-- 		</packages> -->
	</test>
	<listeners>
		<!-- arrow插件实现用例失败重跑以及生成测试报告 TestResultListener负责监听测试运行状态和结果 RetryListener负责失败的用例重跑的监听器 
			PowerEmailableReporter负责生成测试报告的监听器 -->
		<listener class-name="com.fuyoujiankang.test.plugins.arrow.TestResultListener" />
		<listener class-name="com.fuyoujiankang.test.plugins.arrow.RetryListener" />
		<listener class-name="com.fuyoujiankang.test.plugins.arrow.PowerEmailableReporter" />
	</listeners>
</suite>
